# Rules for USBmount -*- conf -*-

KERNEL=="sd*", DRIVERS=="sbp2",		ACTION=="add",	RUN+="/gamestation/scripts/gamestation-usbmount.sh add"
KERNEL=="sd*", SUBSYSTEM=="block",	ACTION=="add",	RUN+="/gamestation/scripts/gamestation-usbmount.sh add"
KERNEL=="ub*", SUBSYSTEM=="block",	ACTION=="add",	RUN+="/gamestation/scripts/gamestation-usbmount.sh add"
KERNEL=="sd*",				ACTION=="remove",	RUN+="/gamestation/scripts/gamestation-usbmount.sh remove"
KERNEL=="ub*",				ACTION=="remove",	RUN+="/gamestation/scripts/gamestation-usbmount.sh remove"
